		<!--begin::Row-->
		<div class="row gx-5 gx-xl-10">
			<!--begin::Col-->
			<div class="col-xxl-4 mb-5 mb-xl-10">
				@await Html.PartialAsync("Partials/_WidgetChart27")
			</div>
			<!--end::Col-->
			<!--begin::Col-->
			<div class="col-xxl-4 mb-5 mb-xl-10">
				@await Html.PartialAsync("Partials/_WidgetChart28")
			</div>
			<!--end::Col-->
			<!--begin::Col-->
			<div class="col-xxl-4 mb-5 mb-xl-10">
				@await Html.PartialAsync("Partials/_WidgetList9")
			</div>
			<!--end::Col-->
		</div>
		<!--end::Row-->
